<div>
  <div class="area">
    <span class="area-title">簡易設定</span>
    <div class="timer-quick-button-area">
      <div class="quick-button" (click)="setTime(300)">
        <label>5<span>分</span></label>
        <i class="material-icons">access_alarm</i>
      </div>
      <div class="quick-button" (click)="setTime(600)">
        <label>10<span>分</span></label>
        <i class="material-icons">access_alarm</i>
      </div>
      <div class="quick-button" (click)="setTime(900)">
        <label>15<span>分</span></label>
        <i class="material-icons">access_alarm</i>
      </div>
      <div class="quick-button" (click)="setTime(1200)">
        <label>20<span>分</span></label>
        <i class="material-icons">access_alarm</i>
      </div>
      <div class="quick-button" (click)="setTime(1500)">
        <label>25<span>分</span></label>
        <i class="material-icons">access_alarm</i>
      </div>
      <div class="quick-button" (click)="setTime(1800)">
        <label>30<span>分</span></label>
        <i class="material-icons">access_alarm</i>
      </div>
    </div>
  </div>
  <div class="area mt">
    <span class="area-title">詳細設定</span>
    <div class="timer-input">
      <div class="input-div-wrap">
        <div class="input-div-timer-time">
          <div class="input-div">
            <label for="minute-input">分</label
            ><input
              type="number"
              id="minute-input"
              value="{{ minute }}"
              min="0"
              max="300"
            />
            <span class="focus_line"></span>
          </div>
          <div class="input-div">
            <label for="second-input">秒</label
            ><input
              type="number"
              id="second-input"
              value="{{ second }}"
              min="0"
              max="59"
            />
            <span class="focus_line"></span>
          </div>
        </div>
        <div class="alerm-sound-input-div">
          <label for="alerm-sound">アラーム音</label>
          <select
            (change)="changeAlerm($event)"
            id="alerm-sound"
            [(ngModel)]="alermSound"
          >
            <option *ngFor="let audio of audios" value="{{ audio.identifier }}">
              {{ audio.name.substr(5) }}
            </option>
          </select>
          <span class="highlight"></span>
          <span class="selectbar"></span>
        </div>
      </div>
      <div class="timer-button">
        <button (click)="setInfo()">SET</button>
      </div>
    </div>
  </div>
</div>
