.draggable-panel {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;

  color: #444;
  background: linear-gradient(
    -30deg,
    rgba(240, 218, 189, 0.9),
    rgba(255, 244, 232, 0.9)
  );
  border: solid 1px #999;

  padding: 0px;
  top: 200px;

  height: 200px;
  width: 300px;
  max-height: 100%;
  max-width: 100%;
}

.scrollable-panel {
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  top: 25px;
  bottom: 0;
  width: 100%;
  padding: 8px;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 12px;
  height: 25px;
  padding: 2px 5px;
  width: 100%;
  background-color: #555;
  color: #ccc;
  user-select: none;
}

.title-button {
  position: absolute;
  right: 0;
  top: 0;
}

.title button {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  color: #ccc;
}

.pointer-events-none {
  pointer-events: none;
  padding: 0;
}

/* メインパネル */
.main-panel .title-button > button {
  display: none;
}

/* タイマー用 */

.timer-menu-panel {
  border: none;
  color: #fff;
  background: rgba(44, 44, 44, 0.87);
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
  transition: all 0.2s;
}

.timer-menu-panel:hover {
  background: rgba(44, 44, 44, 0.93);
}

.timer-menu-panel .title {
  background: none;
}

.timer-menu-panel .title-button button:first-child {
  display: none;
}

.timer-menu-panel .scrollable-panel {
  padding: 0;
  overflow: hidden;
}
