<div *ngIf="myPeer">
  <button (click)="changeIcon()">アイコンを変更する</button>
  <div
    *ngIf="myPeer.image"
    class="image cover"
    [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style'"
    (click)="changeIcon()"
  >
    <!--<img *ngIf="myPeer.image" [src]="myPeer.image.url | safe: 'resourceUrl'" />-->
  </div>
  <span
    ><span class="property">あなたのニックネーム</span>：
    <input [(ngModel)]="myPeer.name" placeholder="ニックネーム"
  /></span>
</div>
<div>
  <span
    ><span class="property">あなたのID</span>：<span
      *ngIf="networkService.isOpen"
      style="font-weight: bold"
      >{{ networkService.peerContext.userId }}</span
    >
    <span *ngIf="!networkService.isOpen" style="font-weight: bold">???</span>
  </span>
  <button *ngIf="networkService.isOpen" (click)="getUrl($event)">
    接続URL取得
  </button>
</div>
<div>
  <span
    ><span class="property">GMモード</span>：<input
      type="checkbox"
      [(ngModel)]="isViewer"
      (change)="output()"
  /></span>
  ※非公開カードが全て見れます
</div>
<!--<div>host ID:{{networkService.hostPeerID}}</div>-->
<ng-container *ngIf="networkService.peerContext.isRoom">
  <hr />
  <div>
    <span
      ><span class="property">ルーム名</span>：<span
        *ngIf="networkService.isOpen"
        style="font-weight: bold"
        >{{ networkService.peerContext.roomName }}/{{
          networkService.peerContext.roomId
        }}</span
      ></span
    >
  </div>
  <div>
    <span
      >パスワード：<span *ngIf="networkService.peerContext.hasPassword">
        <span *ngIf="networkService.isOpen" style="font-weight: bold">{{
          isPasswordVisible ? networkService.peerContext.password : "●●●●●●●●"
        }}</span>
        <button
          style="padding: 2px; margin-left: 1em; font-size: 1em"
          (click)="togglePasswordVisibility()"
        >
          <span
            class="material-icons"
            style="font-size: 1em; vertical-align: text-bottom"
            >{{ isPasswordVisible ? "visibility" : "visibility_off" }}</span
          >
        </button>
      </span>
    </span>
  </div>
</ng-container>
<hr />
<div *ngFor="let context of networkService.peerContexts">
  <div>
    <span *ngIf="!context.isOpen">[接続中]</span>
    <span
      >他の参加者：{{ findUserId(context.peerId) }} [{{
        findPeerName(context.peerId)
      }}]</span
    >
  </div>
</div>
<div>
  <ng-container *ngIf="!networkService.peerContext.isRoom">
    <input
      [(ngModel)]="targetUserId"
      placeholder="接続したい相手のID"
      name="targetUserId"
    />
    <button (click)="connectPeer()" [disabled]="!networkService.isOpen">
      プライベート接続</button
    ><br />
  </ng-container>
  <button
    *ngIf="networkService.peerIds.length <= 1"
    (click)="showLobby()"
    [disabled]="!networkService.isOpen"
  >
    ロビー（ルーム一覧）を表示
  </button>
</div>
<div>
  <span style="font-size: 12px">{{ help }}</span>
</div>
<ng-container *ngIf="!networkService.peerContext.isRoom">
  <div style="font-size: 12px" *ngIf="networkService.peerContexts.length < 1">
    ※接続URLにアクセスした人は、自動でプライベート接続されます。
  </div>
</ng-container>
<ng-container *ngIf="networkService.peerContext.isRoom">
  <div style="font-size: 12px">
    ※ルーム機能を利用している時はプライベート接続を利用できません。
  </div>
</ng-container>
