:host {
  display: block;
}

.image {
  padding: 0px;
  width: 128px;
  height: 128px;
  display: table-cell;
  vertical-align: top;
}

.image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.clicked {
  animation: jello-vertical 0.9s both;
}
@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.menu-able-box-description {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
}
.menu-able-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox {
  width: 30%;
}
/* 以下チェックボックス */
.checkbox input {
  display: none;
}
.checkbox label {
  color: #aeaeae;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
  font-size: 0.03em;
}

.checkbox label::after {
  border-right: 6px solid #3b76ff;
  border-bottom: 3px solid #3b76ff;
  content: "";
  display: block;
  height: 20px;
  left: 7px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(0.7, 0.7, 1);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 9px;
}

.checkbox input:checked + label::after {
  opacity: 1;
  transform: rotate(45deg) scale3d(1, 1, 1);
}

.checkbox input:checked + label {
  color: #444;
}
