<div class="flex-container">
  <div class="flex-item panel-list">
    <!-- <div>
      <button (click)="createGamePanel()">新しいパネルを作る</button>
    </div>
   -->
    <select size="10" (change)="selectGamePanel($event.target.value)" [ngModel]="selectedPanel?.identifier">
      <option *ngFor="let gamePanel of getGamePanels()" value="{{ gamePanel.identifier }}">{{ gamePanel.title }}</option>
    </select>
  </div>
  <div class="flex-item input-box">
    <ng-container *ngIf="selectedPanel">
      <!-- <div class="images-select">
        <div>
          画像
          <div *ngIf="!panelBackgroundImage.url">
            <button (click)="openBgImageModal()" style="height: 120px" [disabled]="!isEditable">画像を追加</button>
          </div>
          <div *ngIf="panelBackgroundImage.url" (click)="openBgImageModal()">
            <img height="120" [src]="panelBackgroundImage.url | safe : 'resourceUrl'" />
          </div>
        </div>
        <div>
          背景
          <div *ngIf="!panelDistanceviewImage.url">
            <button (click)="openDistanceViewImageModal()" style="height: 120px" [disabled]="!isEditable">背景画像を追加</button>
          </div>
          <div *ngIf="panelDistanceviewImage.url" (click)="openDistanceViewImageModal()">
            <img height="120" [src]="panelDistanceviewImage.url | safe : 'resourceUrl'" />
          </div>
        </div>
      </div> -->
      <div class="textBox">
        <input class="text" placeholder="title" [(ngModel)]="panelName" placeholder="Title" [disabled]="!isEditable" />
        <label class="label">Title</label>
      </div>
      <div class="textBox">
        <input class="number text" [(ngModel)]="panelWidth" type="number" min="{{ minSize }}" max="{{ maxSize }}" [disabled]="!isEditable" />
        <label class="label">Width</label>
        <input class="bar" [(ngModel)]="panelWidth" type="range" min="{{ minSize }}" max="{{ maxSize }}" name="tableWidth" [disabled]="!isEditable" />
      </div>
      <div class="textBox">
        <input class="number text" [(ngModel)]="panelHeight" type="number" min="{{ minSize }}" max="{{ maxSize }}" [disabled]="!isEditable" />
        <label class="label">Height</label>
        <input class="bar" [(ngModel)]="panelHeight" type="range" min="{{ minSize }}" max="{{ maxSize }}" name="tableHeight" [disabled]="!isEditable" />
      </div>
      <div class="checkbox con-tooltip">
        <input type="checkbox" id="shortcut-able" [(ngModel)]="isShortcutAble" [disabled]="!isEditable" />
        <label for="shortcut-able">
          <i class="material-icons">import_contacts</i>
          <span>ショートカット有</span>
        </label>
        <div class="tooltip" style="width: 240px; left: 25px; padding: 9px">
          左下にパネルのショートカットを表示します。<br />
          「接続」のGMモードで「パネル設定」を非表示にすることで、参加者のパネルの表示をショートカットのみに限定することができます。
        </div>
      </div>
    </ng-container>
  </div>
</div>

<hr *ngIf="selectedPanel && isShortcutAble" />
<div *ngIf="selectedPanel && isShortcutAble" class="detail-shortcut">
  <div class="textBox">
    <input class="text" placeholder="Filter" placeholder="ニックネームフィルター" [(ngModel)]="nicknameFillter" [disabled]="!isEditable" [disabled]="!isEditable" />
    <label class="label">ニックネームフィルター</label>
    <div class="con-tooltip" style="left: 120px">
      <p><i class="material-icons" style="font-size: 14px">help_outline</i></p>
      <div class="tooltip">
        <p>
          ショートカットを個別に表示非表示する時に利用します。<br />
          「執事@」がフィルターの場合、ニックネームに「執事@」を含むプレイヤーはショートカットが表示されます。 <br />
          応用として「執事@,探偵」など「,」を用いることで複数のプレイヤーを対象とできます。
        </p>
      </div>
    </div>
  </div>
</div>

<hr *ngIf="selectedPanel" />
<div *ngIf="selectedPanel">
  <button *ngIf="!isDeleted" (click)="openGamePanelForAllUser()">
    <div style="position: relative">
      <div>全員のパネルを開く</div>
    </div>
  </button>
  <button *ngIf="!isDeleted" (click)="closeGamePanelForAllUser()">
    <div style="position: relative">
      <div>全員のパネルを閉じる</div>
    </div>
  </button>
  <button *ngIf="!isDeleted" (click)="openGamePanel()">
    <div style="position: relative">
      <div>開く</div>
    </div>
  </button>
  <ng-container *ngIf="!isDeleted">
    <button class="danger" (click)="delete()" [disabled]="isEmpty">削除</button>
  </ng-container>
  <ng-container *ngIf="isDeleted">
    <button (click)="restore()">元に戻す</button>
  </ng-container>
</div>
<ng-container *ngIf="isEmpty">
  <div style="font-size: 12px">※パネルが１つも作成されていません。pdfファイルのドロップから新しいパネルを作成することができます。</div>
</ng-container>
